<%- include("partials/header.ejs") %>

</br>
</br>

<h1 id="nameOfBlog">The Broken Parent Blog</h1>

<! Have removed two br tags and a pink flower image here - just in case I want to add them back in -->

</br>
</br>

<div class="introduction">
    <p>Being a parent is definitely not easy... and we've all been there.</p>
    <p>Things go wrong for everyone, and sometimes you just have to laugh.</p>
    <p>Add your own funny story about being a parent below, and enjoy a good chuckle and destress by reading other people's.</p>
</div>

</br>
</br>

    <div id="myForm">
        <div id="addBlogPosts" class="container justify-content-center align-items-center min-vh-80">
            <div class="mb-3"><h3>Please submit your blog post here</h3></div>
                </br>
                </br>
                <div class="container">
                    <form action="/submit" method="POST">
                        <div class="mb-3">
                            <label for="title">Title</label>
                            <input type="text" name="title" required>
                        </div>
                    </br>
                        <div class="mb-3">        
                            <label for="blogEntry">Blog Entry</label>
                            <textarea name="blogEntry" required></textarea>
                        </div>
                    </br>
                        <div class="mb-3">
                            <input type="submit" value="Submit">
                        </div>
                    </br>
                </form>
            </div>
        </div>
    </div>    

</br>
</br>


<div id="blogEntries" class="introduction">
    <! Have removed flower image here - can add back in if needed -->
    <p>Have a good laugh reading the blog posts below. Click on each post title to open up and read the post. Click on the delete button under the post to delete any post.</p>

    <div class="accordion" id="accordionExample">
        <% if (blogPosts.length > 0) { %>
            <% blogPosts.forEach((post, index) => { %>
                <div class="accordion-item">
                    <h4 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
                            <%= post.title %>
                        </button>   
                    </h4>
                    <div id="collapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading<%= index %>" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p><%= post.blogEntry %></p>
                            <form action="/delete/<%= post.id %>" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editBlogModal<%= index %>">
                                Edit
                            </button>

                            <!-- UNIQUE Modal for Each Blog Post -->
                            <div class="modal fade" id="editBlogModal<%= index %>" tabindex="-1" aria-labelledby="editBlogModalLabel<%= index %>" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editBlogModalLabel<%= index %>">Edit Blog</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Form inside Modal -->
                                            <form action="/edit/<%= post.id %>" method="POST">
                                                <div class="mb-3">
                                                    <label for="title" class="form-label">Title</label>
                                                    <input type="text" class="form-control" name="title" value="<%= post.title %>" required>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="blogEntry" class="form-label">Blog Entry</label>
                                                    <textarea class="form-control" name="blogEntry" rows="4" required><%= post.blogEntry %></textarea>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END OF UNIQUE MODAL -->
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p>No blog posts available yet.</p>
        <% } %>
    </div>
</div>

</br>
</br>

<%- include("partials/footer.ejs") %>